<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jarvis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
        <appender name="console" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level %logger - %message%newline" />
            </layout>
        </appender>
        <appender name="file" type="log4net.Appender.RollingFileAppender">
            <file value="C:\Program Files\Jarvis\Logs\Jarvis.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="2MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <Jarvis.Properties.Settings>
            <setting name="ExePathsJsonPath" serializeAs="String">
                <value>C:\Program Files\Jarvis\Resources\exePaths.json</value>
            </setting>
            <setting name="relativePathVoskModel" serializeAs="String">
                <value>ProjectJarvis\Resources\VoskModels\vosk-model-small-ru-0.22</value>
            </setting>
            <setting name="AssemblyDllPath" serializeAs="String">
                <value>C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\Accessibility\v4.0_4.0.0.0__b03f5f7f11d50a3a\Accessibility.dll</value>
            </setting>
            <setting name="APIkeyWeather" serializeAs="String">
                <value>e327b05bf5e93f0560363f8bc007f7e2</value>
            </setting>
            <setting name="AntiPiracyStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecognitionWaitTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RecognitionPostCommandWaitTime" serializeAs="String">
                <value>8</value>
            </setting>
        </Jarvis.Properties.Settings>
    </userSettings>
</configuration>